body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f8ff;
    direction: rtl;
}

header {
    background-color: #e0f7fa;
    padding: 20px;
    border-bottom: 2px solid #0288d1;
}

main {
    margin-top: 20px;
}

h1 {
    color: #0288d1;
}

.tables-row {
    display: flex;
    justify-content: center;
    gap: 20px; /* רווח בין הטבלאות */
}

.table-container {
    width: 50%; /* התאם את הרוחב בהתאם למה שמתאים לך */
    margin: 0 auto; /* מרכז את המכולה בדף */
    text-align: center; /* מיועד למרכז את כל התוכן בתוך המכולה */
}

.weekly-schedule {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    direction: rtl;
}

.weekly-schedule th, .weekly-schedule td {
    border: 1px solid #0288d1;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    width: 12.5%;
}

.weekly-schedule th {
    background-color: #e0f7fa;
    color: #01579b;
}
.weekly-schedule td {
    height: auto; /* וידוא שהתאים יוכלו לגדול בהתאם לתוכן */
}

/* הקטנת רוחב הטבלה של מיילו */
.milo-schedule {
    width: 80%;
    max-width: 800px;
    margin: 0 auto; /* מרכזת את הטבלה בדף */
}

