body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f8ff;
    direction: rtl;
}

header {
    background-color: #e0f7fa;
    padding: 20px;
    border-bottom: 2px solid #0288d1;
}

main {
    margin-top: 20px;
}

h1 {
    color: #0288d1;
}

.tables-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* רווח בין הקבוצות של הטבלאות */
}

.tables-row-horizontal {
    display: flex;
    gap: 20px; /* רווח בין הטבלאות */
    justify-content: center;
}


.table-container {
    width: 50%; /* התאם את הרוחב בהתאם למה שמתאים לך */
    margin: 0 auto; /* מרכז את המכולה בדף */
    text-align: center; /* מיועד למרכז את כל התוכן בתוך המכולה */
}

.weekly-schedule {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    direction: rtl;
}

.weekly-schedule th, .weekly-schedule td {
    border: 1px solid #0288d1;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    width: 12.5%;
}

.weekly-schedule th {
    background-color: #e0f7fa;
    color: #01579b;
}
.weekly-schedule td {
    height: auto; /* וידוא שהתאים יוכלו לגדול בהתאם לתוכן */
}

/* הקטנת רוחב הטבלה של מיילו */
.reset-button {
    margin-top: 10px; /* מרחיק את הכפתור יותר למטה */
    margin-bottom: 60px; 
}
/* הקטנת רוחב הטבלה של מיילו והוספת רווח בתחתית העמוד */
.milo-schedule {
    width: 80%;
    max-width: 800px;
    margin: 0 auto 40px auto; /* רווח נוסף בתחתית */
}
.add-time-form button {
    margin-right: 10px !important; /* מוסיף רווח קטן מצד שמאל */
    size: 10px;
}

.login-form {
    width: 400px;
    margin: 150px auto;
    padding: 30px;
    border: 2px solid #ccc;
    border-radius: 15px;
    background-color: #f0f0f0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  .login-form h2 {
    text-align: center;
    color: #333;
    font-size: 24px;
  }
  
  .login-form label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #444;
    font-size: 18px;
  }
  
  .login-form input[type="text"],
  .login-form input[type="password"] {
    width: calc(100% - 20px);
    margin-top: 10px;
    padding: 12px;
    border: 2px solid #aaa;
    border-radius: 8px;
    font-size: 16px;
  }
  
  .login-form button {
    width: 100%;
    margin-top: 25px;
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #45a049;
  }
  